* {
  box-sizing: border-box;
}

:root {
  --white-color: #FFFFFF;
  --background-color: #F2F2F2;
  --nav-active: #756257;
  --button-brown_hover: #615048;
  --button-green_hover: #6C9E42;
  --button-inactive: #E5E5E5;
  --blue-color: #83B3D3;
  --green-color: #7DB54F;
  --error-color: #FF5757;
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
}

body {
  font-family: "PT-Sans", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
}

.button {
  font-family: PT-Sans, sans-serif;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.visually-hidden {
  display: none;
}

.wrapper {
  width: 1200px;
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

.main-header {
  position: relative;
  display: flex;
  padding: 0 70px;
}

.image-logo {
  position: absolute;
  z-index: 1;
}

.main-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
  padding-left: 44px;
  margin: 0;
  margin-left: 140px;
}

.main-menu-item {
  padding: 19px 0;
  border-bottom: 2px transparent;
}

.main-menu-item--current {
  border-bottom: 2px solid var(--nav-active);
}

.main-menu-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 20px 0;
  z-index: 1;
}

.actions {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.actions-link {
  text-decoration: none;
  display: block;
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

.actions-search-link {
  background-image: url(../img/search.svg);
}

.actions-favorite-link {
  position: relative;
  background-image: url(../img/heart.svg);
  margin-right: 20px;
}

.actions-favorite-number {
  position: absolute;
  top: 12px;
  left: 19px;
  padding-top: 3px;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.actions-button-link {
  display: inline-block;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  height: 36px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:active {
}

.button-brown:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.banner {
  position: relative;
  background-image: url(../img/banner-background.jpg);
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  height: 485px;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 78px;
  margin-bottom: 69px;
}

.banner::after {
  position: absolute;
  content: "";
  background-image: url(../img/banner-vector.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

.benefits {
  text-align: center;
  margin-bottom: 64px;
}

.benefits-title {
  display: inline-block;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 620px;
}

.benefits-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.benefits-item {
  min-height: 385px;
  padding: 112px 0;
}

.benefits-item:first-child {
  grid-row: 1;
  grid-column: 1 / 4;
  padding: 0;
}

.benefits-item:nth-child(2) {
  grid-column-start: 1;
}

.benefits-item:nth-child(3) {
  background-color: #83B3D333;
}

.benefits-item:last-child {
  grid-row: 3;
  grid-column: 1 / 4;
  padding: 0;
}

.benefits-item--blue {
  display: flex;
  align-items: center;
  background-color: #82B3D3;
}

.benefits-item-title {
  position: relative;
  font-weight: 700;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.benefits-item-title::after {
  display: block;
  position: absolute;
  content: '';
  width: 60px;
  height: 2px;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.benefits-item--light .benefits-item-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.benefits-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  width: 230px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.benefits-item-text {
  padding: 0 85px;
  color: var(--white-color);
}

.benefits-item-text .benefits-item-description {
  color: var(--white-color);
}

/*services*/
.services {
  text-align: center;
  margin-bottom: 96px;
}

.services-title {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  max-width: 505px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.services-sub-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 385px;
  padding-top: 81px;
  padding-bottom: 81px;
}

.services-item:first-child,
.services-item:last-child {
  background-color: #83B3D31F;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  max-width: 230px;
  margin: 0;
}

/*search*/
.search {
  text-align: center;
  margin-bottom: 96px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.search-description {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  max-width: 592px;
  margin-top: 0;
  margin-bottom: 54px;
  color: #333333;
}

.search-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 50px;
}
/*subscription*/

.subscription {
  text-align: center;
  background-image: url(../img/banner-email.jpg);
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 104px;
  color: #FFFFFF;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription-description {
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
  width: 475px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-email {
  color: #000000;
  font-family: 'PT-Sans';
  box-shadow: none;
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}

.subscription-email:hover,
.subscription-email:focus {
  background-color: #F2F2F2;
}

.subscription-btn {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}
.button-blue:active {
  background-color: #82B3D3;
}

/* Hotels */
.intro {
  background-image: url(../img/header-hotels.jpg);
  background-size: cover;
  background-color: #F2F2F2;
  padding: 35px 70px 39px;
  margin: 0;
  margin-bottom: 50px;
}

.hotels-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  display: block;
  background-image: url(../img/bread-crumbs-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.breadcrumbs-text {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.breadcrumbs-text:hover {
  opacity: 0.6;
}

.breadcrumbs-text:active {
  opacity: 0.3;
}

.breadcrumbs-text::after {
  content: '';
  position: absolute;
  background-image: url(../img/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.filters {
  display: flex;
}

.filters-group {
  border: none;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.filters-group:nth-child(1) {
  padding-right: 67px;
}

.filters-group:nth-child(2) {
  padding-right: 150px;
}

.filters-group:nth-child(3) {
  padding-right: 68px;
}

.filters-group-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.filters-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.filters-item {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filters-item input {
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.control {
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.chekbox-form input:checked + label::before {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
}

.chekbox-form input + label::before,
.chekbox-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  border-radius: 4px;
}

.chekbox-form input:focus:not(:checked) + label::before,
.chekbox-form input:focus + label::before {
  box-shadow: 0 0 2px 3px #83B3D3;
}

.radio-form input:checked + label::before {
  background-image: url(../img/radio.svg);
  background-repeat: no-repeat;
}

.radio-form input + label::before,
.radio-form input:checked + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  border-radius: 50%;
}

.radio-form input:focus:not(:checked) + label::before,
.radio-form input:focus + label::before {
  box-shadow: 0 0 2px 3px #83B3D3;
}

.filters-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  margin-right: 16px;
}

.catalog-price-input {
  font-family: PT-Sans, sans-serif;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  max-width: 143px;
  background-color: #F2F2F2;
}

.catalog-price-input:hover {
  background-color: #E6E6E6;
}

.filters-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 55px;
}

.price-inputs {
  display: flex;
}

.min-price {
  position: relative;
  display: inline-block;
  margin-right: 2px;
}

.min-price input {
  border-radius: 4px 0 0 4px;
  border: none;
}

.max-price {
  position: relative;
}

.max-price input {
  border-radius: 0 4px 4px 0;
  border: none;
}

.price-text {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.range-controls {
  position: relative;
  margin-top: 44px;
}

.price-line {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.line-bar {
  width: 72%;
  height: 4px;
  background-color: #FFFFFF;
}

.togle-min, .togle-max {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.togle-max {
  left: 72%;
}

.filters-button {
  font-size: 16px;
  padding: 8px 50px;
  color: var(--white-color);
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  font-size: 16px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.30);
}

.button-reset:disabled {
  opacity: 0.1;
}

.content-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-found {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.filter-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-family: PT-Sans, sans-serif;
  min-width: 292px;
  max-height: 49px;
  padding: 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  margin-left: 200px;
  margin-right: 70px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.30);
  border: 2px solid rgba(0, 0, 0, 0.30);
}

.card-toggle-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.card-grid-toggle {
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px 15px;
  border: 2px solid var(--button-inactive);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-tile {
  background-image: url(../img/mode-tile.svg);
}

.mode-slideshow {
  background-image: url(../img/mode-slideshow.svg);
}

.mode-list {
  background-image: url(../img/mode-list.svg);
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}


.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 18px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.hotel-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}

.hotel-card-info {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-info p {
  margin-top: 16px;
  margin-bottom: 0;
}

.hotel-card-status {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.button-about {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
}

.button-favorites {
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
}

.button-favorites-current {
  background-color: rgba(125, 181, 79, 1);
}

.button-favorites-current:hover,
.button-favorites-current:focus {
  background-color: #6C9E42;
}

.button-favorites-current:active {
  background-color: #7DB54F;
}

.hotel-card-stars {
  background-image: url(../img/star.svg);
  background-repeat: space;
  width: 18px;
  height: 17px;
  margin: 0;
  background-position: 0 50%;
  align-self: center;
}

.hotel-card-info .stars-4 {
  width: 88px;
}

.hotel-card-info .stars-3 {
  width: 63px;
}

.hotel-card-info .stars-3 {
  width: 43px;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-container {
  position: relative;
}

.pagination-container::before {
  position: absolute;
  content: '';
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  gap: 8px;
}

.pagination-link {
  display: inline-block;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 12px 0;
  width: 60px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  transition: all 0.3s linear;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe-mail {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 104px;
}

.subscribe-mail-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-mail-subtitle {
  display: block;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  margin-bottom: 54px;
}

.mail-form {
  display: flex;
  justify-content: center;
}

.mail-input {
  font-family: PT-Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  min-width: 452px;
  border: none;
  min-height: 52px;
}

.subscribe-btn {
  background-color: #82B3D3;
  min-width: 232px;
  min-height: 52px;
  font-size: 20px;
  border-radius: 0 4px 4px 0;
}
/* Hotels end */
/*Footer*/
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 70px 30px;
}

.socials-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-footer-phone:hover,
.main-footer-phone:focus {
  color: #756157;
}

.main-footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-footer-logo:hover path,
.main-footer-logo:focus path {
  fill: #756157;
}

.main-footer-logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.socials-link {
  display: block;
  background-color: var(--blue-color);
  width: 47px;
  height: 40px;
  transition: 0.3s;
}

.socials-item .vk {
  mask: url("../img/vk.svg") no-repeat center;
  -webkit-mask: url("../img/vk.svg") no-repeat center;
}

.socials-item .telegram {
  mask: url("../img/telegram.svg") no-repeat center;
  -webkit-mask: url("../img/telegram.svg") no-repeat center;
}

.socials-item .youtube {
  mask: url("../img/youtube.svg") no-repeat center;
  -webkit-mask: url("../img/youtube.svg") no-repeat center;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #68A2CA;
}

.socials-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}
/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-wrapper {
  width: 717px;
  padding: 64px 70px;
  margin: auto;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close {
  position: relative;
  border: none;
  border-radius: 50%;
  text-align: center;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-close::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #E6E6E6;
}

.modal-close:active {
  background-color: #E6E6E6;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.3;
}

.fiel-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

.modal-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-right: auto;
}

.modal-search-input {
  font-family: PT-Sans, sans-serif;
  width: 440px;
  padding: 14px 20px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
  margin-bottom: 4px;
}

.error {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FF5757;
}

.correct-date {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.group-adults-label {
  margin-right: 46px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.modal-minus {
  height: 48px;
  width: 40px;
  border: none;
}

.field {
  font-family: PT-Sans, sans-serif;
  width: 31px;
  height: 48px;
  text-align: center;
  border: none;
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 700;
}

.group-children-label {
  margin-right: 10px;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 46px;
}

.tooltip-text {
  display: none;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  width: 256px;
  padding: 21px 18px 22px 22px;
  margin-top: 16px;
  z-index: 1;
}

.tooltip-text::before {
  content: '';
  position: absolute;
  top: -11px;
  right: 120px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 19px solid #333333;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.modal-info {
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal-button {
  padding: 14px 10px;
  cursor: pointer;
}

.modal-button path {
  fill: #000000;
}

.modal-button:hover path,
.modal-button:focus path {
  fill-opacity: 1;
}

.modal-button:active path {
  fill-opacity: 0.2;
}

.button-modal-search {
  width: 100%;
  font-size: 20px;
}
